.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-secondary);
}

.main {
  flex: 1;
  padding-block: var(--spacing-48);
}

@media (max-width: 768px) {
  .main {
    padding-block: var(--spacing-24);
  }
}
