@import '../../../../design-system/design-tokens/dist/css/variables.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base), system-ui, sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}
